/* Estilos Gerais */
body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #0073e6;
  color: white;
}

.flag {
  width: 150px;
  height: auto;
}

h1 {
  margin: 10px 0;
}

main {
  padding: 20px;
}

/* Estilos das Seções */
section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0073e6;
}

/* Estilo do Botão de Alternância de Tema */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.theme-toggle:hover {
  background-color: #005bb5;
}

/* Estilos do Rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #0073e6;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Modo Escuro */
body.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

body.dark-mode header {
  background-color: #005bb5;
}

body.dark-mode section {
  background-color: #444;
  color: #f4f4f4;
}

body.dark-mode .theme-toggle {
  background-color: #005bb5;
}

body.dark-mode .theme-toggle:hover {
  background-color: #003f7f;
}
