/* Estilos Gerais */
body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #F5DEB3; /* Fundo amarelo linho */
  color: black; /* Texto preto */
}

header {
  text-align: center;
  background: #F5DEB3; /* Cor de fundo do cabeçalho alterada para amarelo linho */
  color: black; /* Texto preto no cabeçalho */
  padding: 20px 0;
  border-bottom: 2px solid #ccc; /* Adiciona uma borda inferior ao cabeçalho */
}

.flag {
  width: 150px; /* Aumenta o tamanho da bandeira */
  height: auto; /* Mantém a proporção da imagem */
  margin: 20px 0; /* Adiciona margem acima e abaixo da bandeira */
  border-radius: 10px; /* Arredonda os cantos da bandeira */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra à bandeira */
}

h1 {
  margin: 10px 0;
  color: black; /* Título em preto */
}

h2 {
  color: black; /* Títulos das seções em preto */
  margin-top: 20px;
}

/* Estilos das Seções */
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 40px;
  background: white; /* Fundo branco para as seções */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

p {
  margin: 10px 0;
  color: black; /* Texto dos parágrafos em preto */
}

/* Estilos do Rodapé */
footer {
  text-align: center;
  padding: 10px 0;
  background: #F5DEB3; /* Cor de fundo do rodapé alterada para amarelo linho */
  color: black; /* Texto preto no rodapé */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
  .flag {
      width: 100px; /* Tamanho da bandeira em telas menores */
  }

  main {
      padding: 10px; /* Preenchimento do main em telas menores */
  }
}
